<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="org.eclipse.ui.commands">
    <command
        name="%BstackCommand.integrateWithSDK.label"
        description="%BstackCommand.integrateWithSDK.desc"
        categoryId="org.eclipse.jdt.ui.category.refactoring"
        id="actions.IntegrateWithSdk"
        defaultHandler="actions.IntegrateWithSdk"
        >
     </command>
  </extension>
  <extension point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="popup:org.eclipse.ui.popup.any">
<!--        <separator-->
<!--              name="testng-eclipse.separator2"-->
<!--              visible="true">-->
<!--        </separator>-->

        <menu label="Test">
          <visibleWhen>
              <iterate ifEmpty="false">
                 <adapt type="org.eclipse.jdt.core.IJavaElement">
                   <instanceof value="org.eclipse.jdt.core.IJavaElement" />
                 </adapt>
              </iterate>
          </visibleWhen>
          <command
              commandId="actions.IntegrateWithSdk"
              label="Integrate Eclipse Plugin"
              style="push">
          </command>
        </menu>

    </menuContribution>
  </extension>

</plugin>
